@model ForgotPasswordViewModel
@{
    ViewData["Title"] = Common.ForgotPassword;
    Layout = "_AdminLoginLayout";
}

<section class="login">
    <div class="login__Wrapper">
        <div class="container-fluid">
            <h1 class="section-title">@Common.ForgotPassword</h1>
            <form asp-action="ForgotPassword" method="post">
                <div class="row center-xs">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" asp-for="Email" placeholder="@Common.EmailAddress *">
                            <div class="error-messeage"><span asp-validation-for="Email"></span></div>
                        </div>

                        <div class="tn-part btns-wrapper-center">
                            <button class="btn btn-action" type="submit">
                                @Common.ResetPassword
                            </button><span class="error-messeage">@ViewData["Message"]</span>
                        </div>
                        <a asp-controller="Admin" asp-action="Login">@Common.BackToLogin</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>