@model AdminLoginViewModel

@{
    ViewData["Title"] = Common.Login;
    Layout = "_AdminLoginLayout";
}

<section class="login">
    <div class="login__Wrapper">
        <div class="container-fluid">
            <h1 class="section-title">@Common.Login</h1>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-action="Login" asp-controller="Admin" method="post">
                <div class="row center-xs">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input class="form-control" asp-for="UserName" type="text">
                            <div class="error-messeage"><span asp-validation-for="UserName"></span></div>
                        </div>
                        <div class="form-group " id="login__password">
                            <label asp-for="Password"></label>
                            <input class="form-control" asp-for="Password">
                            <i class="fas fa-eye login__ShowPassword" id="adminShowPW"></i>
                            <div class="error-messeage"><span asp-validation-for="Password"></span></div>
                        </div>
                        <div class="tn-part btns-wrapper-center">
                            <button class="btn btn-action" type="submit">
                                @Common.Login
                            </button><span class="error-messeage">@ViewData["Message"]</span>
                        </div>
                        <a asp-controller="Admin" asp-action="ForgotPassword">@Common.ForgotPassword</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>