@model UserModel

@{
    ViewData["Title"] = Common.MyProfile;
    Layout = "_AdminLayout";
}

<section class="myAccount">
    <div class="content">
        <div class="detail-block">
            <div class="detail-block__title">
                <h2>@Common.Profile</h2>
            </div>
            <div class="detail-block__content">
                <div class="container-fluid">
                    <div class="row">
                        <strong class="col-sm-3">@Html.DisplayNameFor(model => model.FullName)</strong>
                        <p class="col-sm-6">@Html.DisplayFor(model => model.FullName)</p>
                    </div>
                    <div class="row">
                        <strong class="col-sm-3">@Common.EmailAddress</strong>
                        <p class="col-sm-6">@Html.DisplayFor(model => model.UserName)</p>
                    </div>
                    <div class="row">
                        <strong class="col-sm-3">@Common.Role</strong>
                        <p class="col-sm-6">@(UserService.GetRoleName(Model))</p>
                    </div>
                    <div class="myAccount__Link"><a asp-action="UpdateProfile">@Common.ChangeProfile</a></div>
                    <div class="myAccount__Link"><a asp-action="ChangePassword">@Common.ChangePassword</a></div>
                </div>
            </div>
        </div>
    </div>
</section>