@model ActiveViewModel

@{
    ViewData["Title"] = Common.ActiveAccount;
}

<div class="resgiste-user submit-form-general">
    <div class="banner-left">
        @*<section class="rectangnle"></section>*@
        <section class="banner"><img class="img-cover" src="/images/tyler-franta.jpg"></section>
        @*<section class="text">
            <p class="text-uppercase">@Common.Slogan</p>
        </section>*@
    </div>
    <div class="form-resgister-right">
        <div class="container-fluid form-resgister-right-content">
            <div class="back-to-homepage">
                 <a class="back-to-homepage-link" href="/">
                    <img src="/images/arrow-left.png" alt="images"><span class="back-to-homepage-content">@Common.BackToHome</span>
                </a>
            </div>

            <form class="resgister" id="register-form__OTP" method="post">
                <div class="resgiter-title">
                    <div class="title-big">Mã xác nhận</div>
                    <div class="title-small">
                        Nhập mã xác nhận đã được gửi về số ...
                        <span>******@Model.UserName.Substring(Model.UserName.Length - 3)</span>
                    </div>
                </div>
                <div class="resgister-form resgister-otp">
                    <input class="form-group-otp form-control-number--phone" asp-for="VerifyCode" placeholder="Mã xác nhận">
                    <button class="btn-active button-submit-general" type="submit">@Common.Submit</button>
                    <span asp-validation-for="VerifyCode" class="text-danger">@ViewData["Message"]</span>
                </div>
            </form>
            <form asp-action="ResendCode" asp-controller="Account" method="post" class="again-otp">
                <input asp-for="UserName" value="@Model.UserName" type="hidden" />
                <button type="submit">Gửi lại mã xác nhận</button>
            </form>

        </div>
    </div>
</div>