@model LoginViewModel

@{
    ViewData["Title"] = Common.LoginAccount;
}

<section class="user_login submit-form-general">
    <div class="content-details">
        <div class="image-left">
            <img src="/images/tyler-franta.jpg" alt="images">
            @*<div class="box"></div>*@
            @*<div class="text">@Common.Slogan</div>*@
        </div>
        <form class="form-detail" id="form_login" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-action="Login" asp-controller="Account" method="post">
            <a class="back" href="/">
                <img src="/images/arrow-left.png" alt="images"><span>@Common.BackToHome</span>
            </a>
            <h2>@Common.LoginAccount</h2>
            <p class="normal">@Common.WelcomeLogin</p>
            <div class="error-messeage">@ViewData["Message"]</div>
            <div class="form-row">
                <input class="user-input form-control-number--phone" asp-for="UserName" type="text" required autocomplete="on">
                <p class="placeholder"><span>@Common.PhoneNumber</span></p>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="register-button button-submit-general">
                <input class="user-input" type="submit" value="@Common.Login">
            </div>
            <p class="register">Chưa có tài khoản? <a asp-action="Register">Đăng ký tại đây.</a></p>
        </form>
    </div>
</section>