@model smartFunds.Model.Common.KVRRMarkModel
@{
	ViewData["Title"] = @Common.EditMark;
	Layout = "_AdminLayout";
}

<section class="weight-risk-add">
	<div class="content">
		<form method="post" asp-controller="KVRRMark" asp-action="Edit">
			<input asp-for="Id" type="hidden" placeholder="Id" class="form-control" />
			<div class="container-fluid">
				<div class="row center-xs">
					<div class="col-sm-4">
						<h1 class="section-title">@Common.EditMark</h1>
						<div class="weight-risk-add__trongso">
							<label asp-for="MarkFrom"></label>
							<input asp-for="MarkFrom" class="form-control" />
							<label asp-for="MarkTo"></label>
							<input asp-for="MarkTo" class="form-control" />
						</div>
						<div>
							<p><span asp-validation-for="MarkFrom" class="text-danger error-messeage"></span></p>
							<p><span asp-validation-for="MarkTo" class="text-danger error-messeage"></span></p>
							<p><span asp-validation-for="ValidMark" class="text-danger error-messeage"></span></p>
						</div>
						<div class="weight-risk-add__loai-kvrr">
							<select asp-for="KVRRId" asp-items="@(new SelectList(@ViewBag.KVRRSelectList, "Id", "Name"))"></select>
							<span asp-validation-for="KVRRId" class="text-danger"></span>
						</div>

						<div class="tn-part text-center">
                            <div class="btn-part text-center">
                                <button class="btn btn-action" type="submit">@Common.Confirm</button>
                                <a class="btn btn-action" data-micromodal-trigger='model-cancel' href="#">Hủy</a>
                                <div class="manager-risk__questions__list-questions__item__title">
                                    <div class="item-option">
                                        <div class="modal micromodal-slide" id="model-cancel" aria-hidden="true">
                                            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                                                <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="manager-user-title">
                                                    <header class="modal__header">
                                                        <h2 class="modal__title" id="manager-user-title">@Common.CancelMessage</h2>
                                                        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                                                    </header>
                                                    <footer class="modal__footer">
                                                        <a class="modal__btn modal__btn-primary" asp-action="List">
                                                            Ok
                                                        </a>
                                                        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">
                                                            Cancel
                                                        </button>
                                                    </footer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			@Html.Hidden("initKvrrId", Model.KVRRId)
		</form>
	</div>
</section>
