@using smartFunds.Common
@model smartFunds.Model.Common.KVRRQuestion

@{
    ViewData["Title"] = Common.AddDefinedKVRR;
    Layout = "_AdminLayout";
    var checkRule = UserService.IsInRole(UserService.GetCurrentUser().Result, RoleName.Admin, RoleName.InvestmentManager).Result;
}

<section class="manager-risk-add manager-risk__questions">
    <div class=".container-fluid">
        <div class="row center-xs">
            <div class="col-sm-6">
                <form id="manager-risk__questions__form" class="formAnswers">
                    
                    <div class="manager-risk__questions__list-questions">
                        <div class="manager-risk__questions__list-questions__item">
                            <div class="manager-risk__questions__list-questions__item__title">
                                <span>@Common.AddDefinedKVRR</span>
                                @*<i class="fa fa-window-close" id="close-detail-icon"></i>*@
                                <i class="fa fa-plus-square" id="add-detail-icon"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="KVRRQuestionCategories"></label>
                            <select class="form-control" asp-for="KVRRQuestionCategories" asp-items="Html.GetEnumSelectList<KVRRQuestionCategories>()">
                                <option></option>
                            </select>
                            <span asp-validation-for="KVRRQuestionCategories" class="text-danger"></span>
                        </div>
                        <div class="manager-risk__questions__list-questions__detail-question">
                            <div class="form-group">
                                <label>@Common.QuestionContent</label>
                                <textarea asp-for="@Model.Content" class="form-control input-control" value="Bạn thích đầu tư vào loại hình nào?"></textarea>
                                <span class="errorMSG">Trường Câu Hỏi không được để trống</span>
                            </div>

                            @if (TempData["ErrorAdd"] != null)
                            {
                                <span>@TempData["ErrorAdd"]</span>
                            }
                        </div>
                        <div class="manager-risk__questions__list-questions__list-answers" id="add-list">
                            <div class="form-group form-answers">
                                <div class="close-answers">
                                    <div class="modal micromodal-slide" id="delete-answer-1" aria-hidden="true">
                                        <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
                                            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="delete-answer-1-title">
                                                <header class="modal__header">
                                                    <h2 class="modal__title" id="delete-answer-1-title">
                                                        Bạn có chắc chắn muốn xóa
                                                        không?
                                                    </h2>
                                                </header>
                                                <footer class="modal__footer">
                                                    <button class="modal__btn modal__btn-primary" data-micromodal-close="" type="button">
                                                        Tiếp
                                                        tục
                                                    </button>
                                                    <button class="modal__btn" data-micromodal-close="" aria-label="Close this dialog window">
                                                        Hủy
                                                        bỏ
                                                    </button>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<i class="fa fa-window-close close-answers"></i>*@
                                <label>@Common.AnswerNumber 1</label>
                                <textarea asp-for="@Model.KVRRAnswers[0].Content" class="form-control input-control"></textarea>
                                <span class="errorMSG">Trường Đáp Án không được để trống</span>
                                <label asp-for="@Model.KVRRAnswers[0].Mark" class="label-number"></label>
                                <input asp-for="@Model.KVRRAnswers[0].Mark" type="number" class="form-control inputNumber" />
                                <span class="errorMSG">Trường Trọng Số không được để trống</span>
                            </div>
                            <div class="form-group form-answers">
                                <div class="close-answers">
                                    <div class="modal micromodal-slide" id="delete-answer-2" aria-hidden="true">
                                        <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
                                            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="delete-answer-2-title">
                                                <header class="modal__header">
                                                    <h2 class="modal__title" id="delete-answer-2-title">
                                                        Bạn có chắc chắn muốn xóa
                                                        không?
                                                    </h2>
                                                </header>
                                                <footer class="modal__footer">
                                                    <button class="modal__btn modal__btn-primary" data-micromodal-close="" type="button">
                                                        Tiếp
                                                        tục
                                                    </button>
                                                    <button class="modal__btn" data-micromodal-close="" aria-label="Close this dialog window">
                                                        Hủy
                                                        bỏ
                                                    </button>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<i class="fa fa-window-close close-answers"></i>*@
                                <label>@Common.AnswerNumber 2</label>
                                <textarea asp-for="@Model.KVRRAnswers[1].Content" class="form-control input-control"></textarea>
                                <span class="errorMSG">Trường Đáp Án không được để trống</span>
                                <span>@Common.Mark 2</span>
                                <input asp-for="@Model.KVRRAnswers[1].Mark" class="form-control inputNumber" />
                                <span class="errorMSG">Trường Trọng Số không được để trống</span>
                            </div>
                        </div>
                        <div class="manager-risk__questions__show-error"></div>
                        <div class="btns-wrapper-center">
                            <button class="btn btn-action @( checkRule ? "":"disabled-button" )" id="submit-questions">@Common.AddQuestion</button>
                            <a class="btn btn-action" data-micromodal-trigger='model-cancel' href="#">Hủy</a>
                            <div class="modal micromodal-slide" id="model-cancel" aria-hidden="true">
                                <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                                    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="manager-user-title">
                                        <header class="modal__header">
                                            <h2 class="modal__title" id="manager-user-title">@Common.CancelMessage</h2>
                                            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                                        </header>
                                        <footer class="modal__footer">
                                            <a class="modal__btn modal__btn-primary" asp-action="List">
                                                Ok
                                            </a>
                                            <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">
                                                Cancel
                                            </button>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<input id="manager-risk__questions__url" type="hidden" value="/admin/kvrrquestionanswer/NewQuestionDefindKVRR" />
<input id="questionId" type="hidden" value="0" />
<input id="questionList" type="hidden" value="/admin/kvrrquestionanswer/list" />
<input id="requiredMess" type="hidden" value="Đây là trường bắt buộc" />